:root {
  --color-primary-dark: #011c44;
  --color-primary-white: #ffffff;
  --color-primary-accent: #2b7fff;

  --color-secondary-dark: #4a4a4a;
  --color-secondary: #747272;
  --color-secondary-background: #011f4a;

  --color-description: #000000;
}
/* Base */
ul {
  list-style-type: none;
}
body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  box-sizing: border-box;
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
a,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
/* container */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 100px;
}
/* button */
.hero-button {
  padding: 16px 32px 16px 32px;
  border-radius: 32px;
  background-color: var(--color-primary-accent);
  color: var(--color-primary-white);
  border: none;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  cursor: pointer;
  border: 2px solid var(--color-primary-accent);
  margin-bottom: 14px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: transparent;
  color: var(--color-primary-dark);
}
/* link */
.link {
  color: var(--color-primary-dark);
  font-size: 18px;
}
.link:hover,
.link:focus {
  color: var(--color-primary-accent);
  font-weight: 700;
}
/* header */
.header {
  padding: 32px 0;
}
/* hero-section */
.hero-section {
  padding: 17px 0px 63px 0px;
}
.sup-title {
  font-size: 18px;
  margin-bottom: 16px;
}
.hero-title {
  color: var(--color-primary-accent);
  font-family: Play;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
  margin-bottom: 40px;
}

.sub-title {
  color: var(--color-secondary-dark);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}
.section-title {
  font-family: Play;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  margin-bottom: 48px;
}
.section-title .accent {
  color: var(--color-primary-accent);
}

/* about us section */
.about-us {
  padding: 63px 0px 88px 0px;
}
.about-us .section-title {
  text-align: start;
  margin-bottom: 40px;
}
.about-us-offer {
  line-height: 1.7;
}
.about-us-offer:not(:nth-last-child(-n + 2)) {
  margin-bottom: 40px;
}
.about-us-name {
  font-weight: 600;
}
/* why-us section */
.why-us {
  padding: 88px 0px 48px 0px;
}

.advantages-text {
  color: var(--color-description);
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
}
/* our-procedures section */
.section {
  padding: 48px 0px;
}
/* contacts section */
.forma {
  background-color: var(--color-secondary-background);
  color: var(--color-primary-white);
}
.form-title {
  font-weight: 600px;
  text-align: center;
}
input::placeholder {
  font-size: 13px;
}
.form_terms {
  color: var(--color-secondary);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}
.form_terms-link {
  color: var(--color-secondary);
  text-decoration: underline;
}

/* footer */
.footer {
  background-color: var(--color-primary-dark);
  font-size: 16px;
  width: 100%;
}
.footer_nav-link {
  color: var(--color-primary-white);
}
.footer_address-link {
  color: var(--color-primary-white);
}
.footer_address-link:hover,
.footer_address-link:focus {
  color: var(--color-secondary);
}
.footer_address-copyright {
  color: var(--color-secondary);
  font-size: 13px;
}
