:root {
  --color-primary-dark: #011c44;
  --color-primary-white: #ffffff;
  --color-primary-accent: #2b7fff;

  --color-secondary-dark: #4a4a4a;
  --color-secondary: #747272;
  --color-secondary-background: #011f4a;

  --color-description: #000000;
}
/* Base */
ul {
  list-style-type: none;
}
body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
}
a {
  text-decoration: none;
}
ul,
a,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
/* button */
.hero-button {
  padding: 16px 32px 16px 32px;
  border-radius: 32px;
  background-color: var(--color-primary-accent);
  color: var(--color-primary-white);
  border: none;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  cursor: pointer;
  border: 2px solid var(--color-primary-accent);
}

.hero-button:hover,
.hero-button:focus {
  background-color: transparent;
  color: var(--color-primary-dark);
}
/* link */
.link {
  color: var(--color-primary-dark);
  font-size: 18px;
}
.link:hover,
.link:focus {
  color: var(--color-primary-accent);
  font-weight: 700;
}
/* hero-section */
.sup-title {
  font-size: 18px;
}
.hero-title {
  color: var(--color-primary-accent);
  font-family: Play;
  font-weight: 700;
  font-size: 140px;
  line-height: 114px;
}

.sub-title {
  color: var(--color-secondary-dark);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.section-title {
  font-family: Play;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
}
.section-title .accent {
  color: var(--color-primary-accent);
}

/* about us section */
.about-us .section-title {
  text-align: start;
}

/* why-us section */

.advantages-text {
  color: var(--color-description);
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

/* contacts section */
.forma {
  background-color: var(--color-secondary-background);
  color: var(--color-primary-white);
}
.form-title {
  font-weight: 600px;
  font-size: 26px;
  text-align: center;
}
input::placeholder {
  font-size: 13px;
  line-height: 15px;
}
.form_terms {
  color: var(--color-secondary);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.form_terms-link {
  color: var(--color-secondary);
  text-decoration: underline;
}

/* footer */
.footer {
  background-color: var(--color-primary-dark);
  font-size: 16px;
  line-height: 19px;
}
.footer_nav-link {
  color: var(--color-primary-white);
}
.footer_address-link {
  color: var(--color-primary-white);
}
.footer_address-link:hover,
.footer_address-link:focus {
  color: var(--color-secondary);
}
.footer_address-copyright {
  color: var(--color-secondary);
  font-size: 13px;
  line-height: 15px;
}
